absl-py
altair
annotated-doc
annotated-types
anyio
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
deprecation
dnspython
dotenv
elevenlabs
email-validator
fastapi
fastapi-cli
fastapi-cloud-cli
Flask
flask-cors
flatbuffers
fonttools
gitdb
GitPython
h11
h2
hpack
httpcore
httptools
httpx
hyperframe
idna
itsdangerous
jax
jaxlib
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml_dtypes
narwhals
numpy
opencv-contrib-python
opencv-python
opt_einsum
packaging
pandas
pillow
postgrest
protobuf
pyarrow
pycparser
pydantic
pydantic_core
pydeck
Pygments
PyJWT
pyparsing
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
realtime
referencing
requests
rich
rich-toolkit
rignore
rpds-py
scikit-learn
scipy
seaborn
sentencepiece
sentry-sdk
shellingham
six
smmap
sniffio
sounddevice
starlette
storage3
streamlit
StrEnum
supabase
supabase_auth
supabase_functions
tenacity
threadpoolctl
toml
tornado
typer
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
uvloop
watchfiles
websockets
Werkzeug
